.contacts {
    padding-top: 6rem;
    min-height: 100vh;
}

.contacts-title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: var(--light);
    font-weight: bold;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--translucent);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-field {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--light);
    border: 1px solid var(--translucent);
    outline: none;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;;
    
}

.form-field:focus {
    border-color: var(--secondary);
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
}

.form-btn {
    color: var(--light);
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.form-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.3);
}