.navigation {
    position: fixed;
    top: 0;
    background-color: var(--translucent);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    transition: background-color 1s ease;
}

.navigation.scrolled {
    background-color: var(--dark-translucent);
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}


.menu-link:hover::before {
    width: 100%;
}

.menu-link {
    text-decoration: none;
    color: var(--light);
    font-weight: 500;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}

.menu-link::before {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, var(--primary), var(--secundary));
    transition: width 0.5s ease;
}