.projects {
    padding: 6rem 2rem;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-title {
    font-size: 3.5rem;
    color:rgb(35, 40, 150);
    font-weight: bold;
    margin: 10px;
    text-align: center;
    margin-bottom: 40px;
}


.project-card {
    background-color: var(--translucent);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid var(--translucent);
}

.project-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.project-title {

}

.project-img {
    width: 100%;
    height: 200px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    object-fit: cover;
}

.project-paragraph {

}