.projects {
    padding-top: 6rem;
    min-height: 100vh;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
    color:rgb(35, 40, 150);
    font-weight: bold;
}


.project-card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--translucent);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.project-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.04);
}


.project-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
}

.project-title {
    color: var(--light);
    line-height: 1.25rem;
    padding: 0.5rem;
    text-align: center;
}

.project-paragraph {
    color: var(--light);
    line-height: 1.25rem;
    padding: 0.5rem;
}