* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #4f46e5;
    --secondary: #7c3aed;
    --dark: rgb(15, 23, 42);
    --intense-dark: #0a0f1c;
    --light: #e2e8f0;
    --translucent: rgba(255, 255, 255, 0.1);
    --dark-translucent: rgba(15, 23, 42, 0.8);
}

body {
    background-color: var(--dark);
    color: var(--light);
}

.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;

    background:
        radial-gradient(circle at 10% 20%, var(--primary) 0%, transparent 60%),
        radial-gradient(circle at 90% 80%, var(--secondary) 0%, transparent 50%),
        var(--intense-dark);

}